{% extends 'base.html.twig' %}

{% block title %}{{ 'login.title'|trans([],'front') }}{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
               <div class="card">
                   <div class="card-body text-dark">
                       <form method="post">
                           {% if error %}
                               <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                           {% endif %}

                           {% if app.user %}
                               <div class="mb-3">
                                   {{ 'login.logged_as'|trans([],'front') }} {{ app.user.userIdentifier }}, <a href="{{ path('APP_LOGOUT') }}">{{ 'actions.logout'|trans([],'front') }}</a>
                               </div>
                           {% endif %}

                           <h1 class="h3 mb-3 font-weight-normal">{{ 'login.title'|trans([],'front') }}</h1>

                           <div class="mb-3">
                               <label for="inputEmail" class="form-label">{{ 'login.email'|trans([],'front') }}</label>
                               <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                                      autocomplete="email" required autofocus>
                           </div>
                           <div class="mb-3">
                               <label for="inputPassword" class="form-label">{{ 'login.password'|trans([],'front') }}</label>
                               <input type="password" name="password" id="inputPassword" class="form-control"
                                      autocomplete="current-password" required>
                           </div>

                           <input type="hidden" name="_csrf_token"
                                  value="{{ csrf_token('authenticate') }}"
                           >

                           {#
                           Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                           See https://symfony.com/doc/current/security/remember_me.html

                           <div class="checkbox mb-3">
                               <label>
                                   <input type="checkbox" name="_remember_me"> Remember me
                               </label>
                           </div>
                           #}

                           <button class="btn btn-wikiarchives-primary w-100 my-3" type="submit">
                               {{ 'actions.login'|trans([],'front') }}
                           </button>
                       </form>
                       <p>{{ 'login.create_account'|trans([],'front') }} <a href="{{ path('APP_REGISTER') }}">{{ 'login.create_account_link'|trans([],'front') }}</a> </p>
                       <p>{{ 'login.forgot_password'|trans([],'front') }} <a href="{{ path('APP_FORGOT_PASSWORD_REQUEST') }}">{{ 'login.forgot_password_link'|trans([],'front') }}</a> </p>
                   </div>
               </div>
            </div>
        </div>
    </div>
{% endblock %}
