{% import 'macro/admin/_catalog-actions.html.twig' as catalogMacro %}

{% extends 'base-admin.html.twig' %}

{% block title %}Parcourir - {{ parent() }}{% endblock %}
{% block bodytitle %}Parcourir - {{ catalog.name }}{% endblock %}

{% block body %}
    {% if 'root' != catalog.name %}
       <div class="btn-group mb-5">
           <a href="{{ path('ADMIN_CATALOG_CATALOG_BROWSE', {'id': catalog.parent.id}) }}" class="btn btn-sm btn-outline-secondary">
               Parent
           </a>
           {{ catalogMacro.catalogActionsButtons(catalog) }}
       </div>
    {% endif %}
    <div class="row g-3">
        {% for child in catalog.children %}
            <div class="col-md-2">
                <div class="card h-100 shadow">
                    <div class="card-body">
                       <div class="h-100 d-flex flex-column justify-content-between">
                           <h5 class="card-title">{{ child.name }}</h5>
                           {{ catalogMacro.catalogActionsButtons(child) }}
                       </div>
                    </div>
                    <div class="card-footer text-muted">
                        <small>{{ child.pictures|length }} photos - {{ child.children|length }} dossiers</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
