{% import 'macro/admin/_catalog-actions.html.twig' as catalogMacro %}

{% extends 'base-admin.html.twig' %}

{% block title %}Edition multiple de photos - {{ parent() }}{% endblock %}
{% block bodytitle %}Edition multiple de photos{% endblock %}
{% block objecttitle %}{{ catalog.name }}{% endblock %}

{% block body %}
    {% if 'root' != catalog.name %}
            {{ catalogMacro.catalogActionsButtons(catalog) }}
            {% if catalog.illustration %}
                <br>
                <img src="{{ vich_uploader_asset(catalog.illustration.file) }}"
                     alt="{{ catalog.name }}" class="img-fluid rounded mt-3" width="200">
            {% endif %}
    {% endif %}


    <div class="row">
        <div class="col-md-6">
            <div class="sticky-top">
                {{ form_start(form) }}
                <div class="row align-items-end">
                    <div class="col-md-6">
                        {{ form_row(form.enabled) }}
                        {{ form_row(form.isEditedByWikiarchives) }}
                    </div>
                    <div class="col-md-6">{{ form_row(form.license) }}</div>
                    <div class="col-md-6">{{ form_row(form.author) }}</div>
                    <div class="col-md-6">{{ form_row(form.creationdate) }}</div>
                    <div class="col-md-6">{{ form_row(form.credit) }}</div>
                    <div class="col-md-6">{{ form_row(form.source) }}</div>
                    <div class="col-md-6">{{ form_row(form.newCatalog) }}</div>
                    <div class="col-md-6">{{ form_row(form.place) }}</div>
                </div>
                <div class="d-none">
                    {{ form_row(form.pictures) }}
                </div>

                {{ form_row(form.delete) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">
                    Modifier en masse [<span id="nb-pictures-to-edit">{{ catalog.pictures|length }}</span>]
                </button>
              {{ form_end(form) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-between">
                <div class="left">
                    <div class="btn-group mb-3">
                        <button data-button-action="all" class="btn btn-outline-secondary active">Toutes</button>
                        <button data-button-action="none" class="btn btn-outline-secondary">Aucune</button>
                        <button data-button-action="custom" class="btn btn-outline-secondary">Personnalisée</button>
                    </div>
                </div>
                <div class="right">
                    <div class="btn-group mb-3">
                        <button data-button-filter="all" class="btn btn-outline-secondary active">Tout</button>
                        <button data-button-filter="selected" class="btn btn-outline-secondary">Séléctionnée</button>
                        <button data-button-filter="notselected" class="btn btn-outline-secondary">Non Séléctionnée</button>
                    </div>
                </div>
            </div>
            <div class="row g-3 pictures-selection">
                {% for picture in catalog.pictures %}
                    <div class="col-md-4">
                        <div id="{{ picture.id }}" class="card h-100 picture-card selected">
                            <div class="selected-icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="unselected-icon">
                                <i class="fas fa-times"></i>
                            </div>
{#                            <a href="{{ vich_uploader_asset(picture.file) }}"#}
{#                               data-fancybox="gallery">#}
                                <img src="{{ picture.file.imageName|imagine_filter('picture_admin_listing') }}"
                                     alt="{{ picture.file.imageOriginalName }}"
                                     class="card-img-top" loading="lazy">
{#                            </a>#}
                            <div class="card-body">
                                <div class="d-flex flex-column justify-content-between h-100">
                                    <p class="card-text">{{ picture.name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('pictues-mass-edit') }}
    {{ encore_entry_link_tags('flatpikr') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('pictues-mass-edit-js') }}
    {{ encore_entry_script_tags('flatpikr') }}
{% endblock %}