{% extends 'base-admin.html.twig' %}

{% block title %}Modification de {{ catalog.name }} - {{ parent() }}{% endblock %}
{% block bodytitle %}Modification de {{ catalog.name }}{% endblock %}

{% block body %}
    {{ include('catalog/catalog/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ADMIN_CATALOG_CATALOG_BROWSE',{'id':catalog.id}) }}" class="btn btn-primary mb-3">
        Revenir au listing
    </a>

    {{ include('catalog/catalog/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('wysiwyg-js') }}
{% endblock %}