{% import 'macro/admin/_catalog-actions.html.twig' as catalogMacro %}

{% extends 'base-admin.html.twig' %}

{% block title %}Liste des photos de "{{ catalog.name}}" - {{ parent() }}{% endblock %}
{% block bodytitle %}Liste des photos{% endblock %}
{% block title %}{{ catalog.name}}{% endblock %}

{% block body %}
    <p>
        {{ pictures|length }} photos
    </p>
    {% if 'root' != catalog.name %}
        <div class="row mb-5">
            {% if catalog.illustration %}
                <div class="col-md-2">
                    <img src="{{ vich_uploader_asset(catalog.illustration.file) }}"
                         alt="{{ catalog.name }}" class="img-fluid rounded" width="200">
                </div>
            {% endif %}
            <div class="col-md">
                <div class="btn-group mb-5">
                    <a href="{{ path('ADMIN_CATALOG_CATALOG_BROWSE', {'id': catalog.parent.id}) }}"
                       class="btn btn-sm btn-outline-secondary">
                        Parent
                    </a>
                    {{ catalogMacro.catalogActionsButtons(catalog) }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row g-3">
        {% for picture in pictures %}
            <div class="col-md-2">
                <div class="card h-100">
                    <a href="{{ vich_uploader_asset(picture.file) }}"
                       data-fancybox="gallery">
                        <img src="{{ picture.file.imageName|imagine_filter('picture_admin_listing') }}"
                             alt="{{ picture.file.imageOriginalName }}"
                             class="card-img-top" loading="lazy">
                    </a>
                    <div class="card-body">
                       <div class="d-flex flex-column justify-content-between h-100">
                           <p class="card-text">{{ picture.name }}</p>
                           <div class="dropdown">
                               <button class="btn btn-sm w-100 btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                   Actions
                               </button>
                               <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                   <li><a class="dropdown-item"
                                          href="{{ path('ADMIN_CATALOG_PICTURE_SHOW', {'id': picture.id}) }}">Voir</a></li>
                                   <li><a class="dropdown-item"
                                          href="{{ path('ADMIN_CATALOG_PICTURE_EDIT', {'id': picture.id}) }}">Modifier</a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="3">{{ 'no_records_found'|trans([],'admin') }}</td>
            </tr>
        {% endfor %}
    </div>


{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin-catalog-datatable') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('admin-catalog-datatable-js') }}
{% endblock %}
