{% extends 'base-admin.html.twig' %}

{% block title %}Liste des dossiers - {{ parent() }}{% endblock %}
{% block bodytitle %}Liste des dossiers{% endblock %}

{% block body %}
        <a href="{{ path('ADMIN_CATALOG_CATALOG_NEW') }}" class="btn btn-primary mb-3">
            Créer catalogue
        </a>
        <table class="table table-sm table-bordered">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Parent</th>
                <th>Photos</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for catalog in catalogs %}
                <tr>
                    <td>{{ catalog.name }}</td>
                    <td>{{ catalog.parent }}</td>
                    <td>{{ catalog.pictures|length }}</td>
                    <td>
                        <a href="{{ path('ADMIN_CATALOG_CATALOG_SHOW', {'id': catalog.id}) }}"
                           class="btn btn-sm btn-info">
                            Voir
                        </a>
                        {% if constant('ROOT',catalog) != catalog.name %}
                            <a href="{{ path('ADMIN_CATALOG_CATALOG_EDIT', {'id': catalog.id}) }}"
                               class="btn btn-sm btn-info">
                                Modifier
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}

