{% import 'macro/admin/_catalog-actions.html.twig' as catalogMacro %}

{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'catalog.form.add_multiple.label'|trans([],'admin') }} - {{ parent() }}{% endblock %}
{% block bodytitle %}{{ 'catalog.form.add_multiple.label'|trans([],'admin') }}{% endblock %}
{% block objecttitle %}{{ catalog.name }}{% endblock %}

{% block body %}
    <div class="btn-group mb-3">
        {{ catalogMacro.catalogActionsButtons(catalog) }}
    </div>
    <p>
        {{ 'catalog.form.add_multiple.instruction'|trans([],'admin') }}
    </p>
    <form method="POST" action="{{ path('AJAX_CATALOG_PICTURE_FILEPOND', {'catalogId': catalog.id}) }}">
        <input type="file" class="filepond" name="filepond" data-allow-remove="true">
    </form>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('filepond') }}
{% endblock %}

{% block javascripts %}
{#    {{ encore_entry_script_tags('filepond-dynamique-catalogjs') }}#}
    {{ encore_entry_script_tags('filepondjs') }}
{% endblock %}