{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'catalog.actions.create'|trans([],'admin') }} - {{ parent() }}{% endblock %}
{% block bodytitle %}{{ 'catalog.actions.create'|trans([],'admin') }}{% endblock %}

{% block body %}

    {{ include('catalog/catalog/_form.html.twig') }}

    <a href="{{ path('ADMIN_CATALOG_CATALOG_INDEX') }}"
       class="btn btn-primary">{{ 'actions.back_listing'|trans([],'admin') }}</a>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('wysiwyg-js') }}
{% endblock %}