{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ catalog.name }}{% endblock %}


{% block opengraph %}
    <meta property="og:site_name" content="Wikiarchives" />
    <meta property="og:title" content="{{ catalog.name }}" />
    <meta property="og:description" content="{{ catalog.description|striptags }}" />
    <meta property="og:url" content="{{ absolute_url(app.request.pathInfo) }}" />
    <meta property="og:image" content="{{ absolute_url(asset(catalog.illustration.file.imageName)|imagine_filter('opengraph')) }}" />
    <meta property="og:image:secure_url" content="{{ absolute_url(asset(catalog.illustration.file.imageName)|imagine_filter('opengraph')) }}" />
    <meta property="og:image:type" content="{{ catalog.illustration.file.imageMimeType }}" />
    <meta property="og:image:width" content="{{ catalog.illustration.file.imageDimensions[0] }}" />
    <meta property="og:image:height" content="{{ catalog.illustration.file.imageDimensions[1] }}" />
    <meta property="og:image:alt" content="{{ catalog.name }}" />


    <meta name=”twitter:card” content=”summary_large_image”>
    <meta name=”twitter:site” content=”@archives_space”>
    {#    <meta name=”twitter:creator” content=”@archives_space”>#}
    <meta name=”twitter:title” content=”{{ catalog.name|truncate(70) }}”>
    <meta name=”twitter:description” content=”{{ catalog.description|striptags|truncate(200) }}”>
    <meta name=”twitter:image” content=”{{ absolute_url(asset(catalog.illustration.file.imageName)|imagine_filter('twitter')) }}“>
    <meta name=”twitter:image:alt” content=”{{ catalog.illustration.name }}“>
{% endblock %}

{% block body %}
    {% include 'includes/catalog/_catalog-banner.html.twig' %}
    {% include 'includes/catalog/_catalog-status-bar.html.twig' %}
    <div class="container-fluid px-4">
        <div class="row row-cols-1 row-cols-md-5 g-5 my-3">
            {% for child in catalog.children %}
                <div class="col">
                    {% include 'includes/catalog/_catalog-card.html.twig' with{catalog:child} %}
                </div>
            {% endfor %}
        </div>
        {% if pagination.getTotalItemCount > 0 %}
            <hr>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="row row-cols-1 row-cols-md-5 g-5 my-3">
                {% for picture in pagination %}
                    <div class="col">
                        {% include 'includes/catalog/_picture-card.html.twig' %}
                    </div>
                {% endfor %}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
