{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ picture.name }} proposition{% endblock %}

{% block body %}
    <div class="container-fluid my-5">
        {{ form_start(form) }}
        <div class="row">

            <div class="col-md-6">
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.userComment) }}
                <button type="submit" class="btn btn-wikiarchives-primary">
                    {{ 'picture.change_form.actions.submit'|trans([],'front') }}
                </button>
            </div>
            <div class="col-md-6">

                <div class="row row-cols-2">
                    <div class="col">{{ form_row(form.author) }}</div>
                    <div class="col">{{ form_row(form.creationdate) }}</div>
                    <div class="col">{{ form_row(form.credit) }}</div>
                    <div class="col">{{ form_row(form.source) }}</div>
                </div>


                {# {{ form_widget(form.exif) }} #}
            </div>
        </div>

        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('wysiwyg-js') }}
{% endblock %}
