{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ picture.name }} proposition{% endblock %}

{% block body %}
    <div class="container-fluid my-5">
        {{ form_start(form) }}
        <div class="row">

            <div class="col-md-6">
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.userComment) }}
                <button type="submit" class="btn btn-wikiarchives-primary">
                    Proposer
                </button>
            </div>
            <div class="col-md-6">

                <ul class="nav nav-pills nav-fill mb-3" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" id="infos-tab" data-bs-toggle="tab" data-bs-target="#infos"
                           role="tab" aria-controls="infos" aria-selected="true" type="button">
                            Infos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="credits-tab" data-bs-toggle="tab" data-bs-target="#credits"
                           role="tab" aria-controls="credits" aria-selected="true" type="button">
                            Credits
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="device-tab" data-bs-toggle="tab" data-bs-target="#device"
                           role="tab" aria-controls="device" aria-selected="true" type="button">
                            Device
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="infos" role="tabpanel" aria-labelledby="infos-tab">
                        <div class="row row-cols-2">
                            <div class="col">{{ form_row(form.exif.title) }}</div>
                            <div class="col">{{ form_row(form.exif.creationdate) }}</div>
                            <div class="col">{{ form_row(form.exif.fileSize) }}</div>
                            <div class="col">{{ form_row(form.exif.keywords) }}</div>
                            <div class="col">{{ form_row(form.exif.mimeType) }}</div>
                            <div class="col">{{ form_row(form.exif.orientation) }}</div>
                            <div class="col">{{ form_row(form.exif.software) }}</div>
                            <div class="col">{{ form_row(form.exif.source) }}</div>
                            <div class="col">{{ form_row(form.exif.lat) }}</div>
                            <div class="col">{{ form_row(form.exif.lng) }}</div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="credits" role="tabpanel" aria-labelledby="credits-tab">
                        <div class="row row-cols-2">
                            <div class="col">{{ form_row(form.exif.author) }}</div>
                            <div class="col">{{ form_row(form.exif.caption) }}</div>
                            <div class="col">{{ form_row(form.exif.copyright) }}</div>
                            <div class="col">{{ form_row(form.exif.credit) }}</div>
                            <div class="col">{{ form_row(form.exif.headline) }}</div>
                            <div class="col">{{ form_row(form.exif.jobTitle) }}</div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="device" role="tabpanel" aria-labelledby="device-tab">
                        <div class="row row-cols-2">
                            <div class="col">{{ form_row(form.exif.camera) }}</div>
                            <div class="col">{{ form_row(form.exif.aperture) }}</div>
                            <div class="col">{{ form_row(form.exif.exposure) }}</div>
                            <div class="col">{{ form_row(form.exif.focalLength) }}</div>
                            <div class="col">{{ form_row(form.exif.focalDistance) }}</div>
                            <div class="col">{{ form_row(form.exif.iso) }}</div>
                            <div class="col">{{ form_row(form.exif.colorSpace) }}</div>
                            <div class="col">{{ form_row(form.exif.height) }}</div>
                            <div class="col">{{ form_row(form.exif.width) }}</div>
                            <div class="col">{{ form_row(form.exif.horizontalResolution) }}</div>
                            <div class="col">{{ form_row(form.exif.verticalResolution) }}</div>
                        </div>
                    </div>
                </div>

                {# {{ form_widget(form.exif) }} #}
            </div>
        </div>

        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('wysiwyg-js') }}
{% endblock %}
