{% import 'macro/catalog/_breadcrumb.html.twig' as breadCrumbMacro %}

{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ picture.name }}{% endblock %}

{% block opengraph %}
    <meta property="og:site_name" content="Wikiarchives" />
    <meta property="og:title" content="{{ picture.name }}" />
    <meta property="og:description" content="{{ picture.description|striptags }}" />
    <meta property="og:url" content="{{ absolute_url(app.request.pathInfo) }}" />
    <meta property="og:image" content="{{ absolute_url(asset(picture.file.imageName)|imagine_filter('opengraph')) }}" />
    <meta property="og:image:secure_url" content="{{ absolute_url(asset(picture.file.imageName)|imagine_filter('opengraph')) }}" />
    <meta property="og:image:type" content="{{ picture.file.imageMimeType }}" />
    <meta property="og:image:width" content="{{ picture.file.imageDimensions[0] }}" />
    <meta property="og:image:height" content="{{ picture.file.imageDimensions[1] }}" />
    <meta property="og:image:alt" content="{{ picture.name }}" />


    <meta name=”twitter:card” content=”summary_large_image”>
    <meta name=”twitter:site” content=”@archives_space”>
{#    <meta name=”twitter:creator” content=”@archives_space”>#}
    <meta name=”twitter:title” content=”{{ picture.name|truncate(70) }}”>
    <meta name=”twitter:description” content=”{{ picture.description|striptags|truncate(200) }}”>
    <meta name=”twitter:image” content=”{{ absolute_url(asset(picture.file.imageName)|imagine_filter('twitter')) }}“>
    <meta name=”twitter:image:alt” content=”{{ picture.name }}“>
{% endblock %}

{% block body %}
    {% include 'includes/catalog/_catalog-banner.html.twig' with{catalog:catalog,isPicture:true} %}
    {% include 'includes/catalog/_picture-status-bar.html.twig' %}
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-md-6">
                    {# <img src="{{ asset(picture.file.imageName)|imagine_filter('picture') }}" alt="{{ picture.file.imageName }}" #}
                    {# class="img-fluid rounded"> #}

                <a href="{{ vich_uploader_asset(picture.file) }}"
                   data-fancybox>
                    <img src="{{ asset(picture.file.imageName|imagine_filter('picture')) }}"
                         alt="{{ picture.file.imageName }}"
                         class="img-fluid rounded">
                </a>




                    <div class="catalog-navigation my-5">
                        {% for catalogPicture in catalog.pictures %}
                            <div class="item{{ catalogPicture.id == picture.id?' current-picture':'' }}">
                                <div class="catalog-navigation-image rounded">
                                    <a href="{{ path('PICTURE', {'catalogId':catalog.id,'id': catalogPicture.id}) }}">
                                        <img data-lazy="{{ asset(catalogPicture.file.imageName|imagine_filter('picture_card_listing')) }}"
                                             alt="{{ catalogPicture.name }}">
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h2 class="text-white">{{ picture.name }}</h2>
                    <div class="description mb-3">
                        {{ picture.description|raw }}
                    </div>
                    <table class="text-white table table-sm table-bordered">
                        <tbody>
                        {% set license = picture|getLicense %}
                        {% if license %}
                            <tr class="align-middle">
                                <th>{{ 'picture.properties.license'|trans([],'admin') }}</th>
                                <td>
                                    <a href="{{ license.url }}" title="{{ license.name }}" rel="nofollow"
                                       target="_blank">
                                        {% if license.image %}
                                            <img src="{{ asset('images/license/'~license.image) }}"
                                                 alt="{{ license.name }}">
                                        {% else %}
                                            {{ license.name }}
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>{{ 'picture.properties.isEditedByWikiarchives'|trans([],'admin') }}</th>
                            <td>
                                {% if picture.isEditedByWikiarchives %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                            </td>
                        </tr>
                        {% if picture.validatedVersion.author %}
                            <tr class="align-middle">
                                <th>{{ 'picture.properties.author'|trans([],'admin') }}</th>
                                <td>
                                    {{ picture.validatedVersion.author }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if picture.validatedVersion.copyright %}
                            <tr class="align-middle">
                                <th>{{ 'picture.properties.copyright'|trans([],'admin') }}</th>
                                <td>
                                    {{ picture.validatedVersion.copyright }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if picture.validatedVersion.creationdate %}
                            <tr class="align-middle">
                                <th>{{ 'picture.properties.creationdate'|trans([],'admin') }}</th>
                                <td>
                                    {{ picture.validatedVersion.creationdate|date('Y-m-d H:i:s') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if picture.validatedVersion.credit %}
                            <tr class="align-middle">
                                <th>{{ 'picture.properties.credit'|trans([],'admin') }}</th>
                                <td>
                                    {{ picture.validatedVersion.credit }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if picture.validatedVersion.source %}
                            <tr class="align-middle">
                                <th>{{ 'picture.properties.source'|trans([],'admin') }}</th>
                                <td>
                                    {{ picture.validatedVersion.source }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if picture.catalogs|length > 1 %}
                            <tr class="align-middle">
                                <th>{{ 'picture.properties.catalog'|trans([],'admin') }}</th>
                                <td class="text-white">
                                    {% for catalogInPicture in picture.catalogs  %}
                                        {{ breadCrumbMacro.breadcrumb(getBreadcrumbPicture(catalogInPicture,picture)) }}
                                        <hr>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    {% if picture.gps %}
                        <div id="map"
                             class="rounded small"
                             data-picture="{{ picture.gps|serialize }}"
                        >
                        </div>
                    {% endif %}

                    {% include 'includes/catalog/_picture-exif.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('map') }}
    {{ encore_entry_link_tags('picture') }}
    {{ encore_entry_link_tags('fancybox') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('map-single-js') }}
    {{ encore_entry_script_tags('picture-js') }}
    {{ encore_entry_script_tags('fancyboxjs') }}
{% endblock %}