{% extends 'base.html.twig' %}

{% block body %}
    {% include 'includes/catalog/_catalog-banner.html.twig' with{catalog:picture.catalog} %}
    <div class="container-fluid">
        {% include 'includes/catalog/_breadcrumb.html.twig' with {object:picture} %}
        <div class="row">
            <div class="col">
                <div class="dropdown mb-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Télécharger
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a target="_blank" class="dropdown-item" href="{{ path('PICTURE_DOWNLOAD',{'catalogId':picture.catalog.id,'id':picture.id,'size':'square'}) }}">Carré</a>
                            <a target="_blank" class="dropdown-item" href="{{ path('PICTURE_DOWNLOAD',{'catalogId':picture.catalog.id,'id':picture.id,'size':'sm'}) }}">Petite taille</a>
                            <a target="_blank" class="dropdown-item" href="{{ path('PICTURE_DOWNLOAD',{'catalogId':picture.catalog.id,'id':picture.id,'size':'md'}) }}">Taille moyenne</a>
                            <a target="_blank" class="dropdown-item" href="{{ path('PICTURE_DOWNLOAD',{'catalogId':picture.catalog.id,'id':picture.id,'size':'lg'}) }}">Grande taille</a>
                            <a target="_blank" class="dropdown-item" href="{{ path('PICTURE_DOWNLOAD',{'catalogId':picture.catalog.id,'id':picture.id,'size':'vlg'}) }}">Extra large</a>
                            <a target="_blank" class="dropdown-item" href="{{ path('PICTURE_DOWNLOAD',{'catalogId':picture.catalog.id,'id':picture.id,'size':'original'}) }}">Originale</a>
                        </li>
                    </ul>
                </div>

                <img src="{{ vich_uploader_asset(picture.file)|imagine_filter('picture') }}" alt="{{ picture.name }}" class="img-fluid rounded">
            </div>
            <div class="col">

                <h2 class="text-white">{{ picture.name }}</h2>
                <div class="description">
                    {{ picture.description|raw }}
                </div>
                {% include 'includes/catalog/_picture-exif.html.twig' %}
                <p>
                    <a class="btn btn-primary"
                       href="{{ path('PICTURE_CHANGE', {'catalogId': picture.catalog.id, 'id': picture.id}) }}">
                        Proposer une modification
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}