{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ picture.name }}{% endblock %}

{% block body %}
{#    {% include 'includes/catalog/_catalog-banner.html.twig' with{catalog:catalog,isPicture:true} %}#}
    {% include 'includes/catalog/_picture-status-bar.html.twig' %}
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-md-6">
                {# <img src="{{ asset(picture.file.imageName)|imagine_filter('picture') }}" alt="{{ picture.file.imageName }}" #}
                {# class="img-fluid rounded"> #}
                <img src="{{ asset(picture.file.imageName|imagine_filter('picture')) }}"
                     alt="{{ picture.file.imageName }}"
                     class="img-fluid rounded">

{#                <div class="catalog-navigation my-5">#}
{#                    {% for catalogPicture in catalog.pictures %}#}
{#                        <div class="item{{ catalogPicture.id == picture.id?' current-picture':'' }}">#}
{#                            <div class="catalog-navigation-image rounded">#}
{#                                <a href="{{ path('PICTURE', {'catalogId':picture.catalog.id,'id': catalogPicture.id}) }}">#}
{#                                    <img src="{{ asset(catalogPicture.file.imageName|imagine_filter('picture_card_listing')) }}"#}
{#                                         alt="{{ catalogPicture.name }}">#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
            </div>
            <div class="col-md-6">
                <div>
                    <h2 class="text-white">{{ picture.name }}</h2>
                    <div class="description">
                        {{ picture.description|raw }}
                    </div>
                    {% include 'includes/catalog/_picture-exif.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('map') }}
    {{ encore_entry_link_tags('picture') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('map-single-js') }}
    {{ encore_entry_script_tags('picture-js') }}
{% endblock %}