<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow mb-5">
    <div class="container">
        <a class="navbar-brand" href="{{ path('HOMEPAGE') }}">Wikiarchives</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('HOMEPAGE') }}">
                        Accueil
                    </a>
                </li>
            </ul>
            <form action="{{ path('SEARCH') }}" class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q"
                       value="{{ query??'' }}">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="login ms-3">
                {% if app.user %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary">{{ app.user.userIdentifier }}</button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{{ path('APP_LOGOUT') }}">Logout</a></li>
                        </ul>
                    </div>

                {% else %}
                    <div class="btn-group">
                        <a href="{{ path('APP_LOGIN') }}" type="button" class="btn btn-outline-primary">Login</a>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{{ path('APP_REGISTER') }}">Sign up</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>