{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'zone.listing.label'|trans([],'admin') }} - {{ parent() }}{% endblock %}
{% block bodytitle %}{{ 'zone.listing.label'|trans([],'admin') }}{% endblock %}

{% block body %}
        <a href="{{ path('ADMIN_CATALOG_PLACE_NEW') }}" class="btn btn-primary mb-3">
            {{ 'zone.add'|trans([],'admin') }}
        </a>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'zone.properties.name'|trans([],'admin') }}</th>
                <th>{{ 'zone.properties.front_name'|trans([],'admin') }}</th>
                <th>{{ 'zone.properties.lat'|trans([],'admin') }}</th>
                <th>{{ 'zone.properties.lng'|trans([],'admin') }}</th>
                <th>{{ 'zone.properties.actions'|trans([],'admin') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for place in places %}
                <tr>
                    <td>{{ place.name }}</td>
                    <td>{{ place.location }}</td>
                    <td>{{ place.lat }}</td>
                    <td>{{ place.lng }}</td>
                    <td>
                        <a href="{{ path('ADMIN_CATALOG_PLACE_SHOW', {'id': place.id}) }}" class="btn btn-sm btn-info">
                            {{ 'actions.see'|trans([],'admin') }}
                        </a>
                        <a href="{{ path('ADMIN_CATALOG_PLACE_EDIT', {'id': place.id}) }}" class="btn btn-sm btn-info">
                            {{ 'actions.edit'|trans([],'admin') }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{{ 'no_records_found'|trans([],'admin') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
