{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'zone.form.create_label'|trans([],'admin') }} - {{ parent() }}{% endblock %}
{% block bodytitle %}{{ 'zone.form.create_label'|trans([],'admin') }}{% endblock %}

{% block body %}
       {{ include('catalog/place/_form.html.twig') }}

       <a href="{{ path('ADMIN_CATALOG_PLACE_INDEX') }}" class="btn btn-primary mt-3">
              {{ 'actions.back_listing'|trans([],'admin') }}
       </a>
{% endblock %}

{% block stylesheets %}
       {{ encore_entry_link_tags('place-map-form') }}
{% endblock %}

{% block javascripts %}
       {{ encore_entry_script_tags('place-map-formjs') }}
{% endblock %}