{% extends 'base-admin.html.twig' %}

{% block title %}Zone {{ place.name }} - {{ parent() }}{% endblock %}
{% block bodytitle %}Zone {{ place.name }}{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ place.name }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ place.location }}</td>
        </tr>
        <tr>
            <th>Latitude, Longitude</th>
            <td>{{ place.lat }} ; {{ place.lng }}</td>
        </tr>
        </tbody>
    </table>
    <div class="read-only" id="map"{% if place.id %} data-position="{{ place.latLng|json_encode }}"{% endif %}></div>

    <a href="{{ path('ADMIN_CATALOG_PLACE_INDEX') }}" class="btn btn-primary mb-3">{{ 'actions.back_listing'|trans([],'admin') }}</a>
    <br>
    <a href="{{ path('ADMIN_CATALOG_PLACE_EDIT', {'id': place.id}) }}" class="btn btn-success mb-3">Modifier</a>
    {{ include('catalog/place/_delete_form.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('place-map-form') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('place-map-formjs') }}
{% endblock %}