<nav class="mb-5 py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {% include 'includes/catalog/_breadcrumb.html.twig' with {object:catalog} %}
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="me-3">
                        <a href="{{ path('CATALOG_DOWNLOAD', {'id': catalog.id}) }}" class="btn btn-wikiarchives-accent"
                           title="Open">
                            Download
                        </a>
                    </div>
                    <div class="me-3">
                        {{ pagination.getTotalItemCount }} pictures
                    </div>
                    <form action="{{ path('SEARCH') }}" class="d-flex">
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="q"
                                   value="{{ query??'' }}">
                            <input type="hidden" name="catalogId" value="{{ catalog.id }}"/>
                            <button class="btn btn-wikiarchives-accent" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>