<div class="catalog-banner mb-5">
    {% if catalog.imageName %}
        <img src="{{ catalog.imageName|imagine_filter('catalog_banner') }}" alt="" class="img-fluid">
    {% endif %}
    <div class="content">
        <div class="container">
            <h1 class="catalog-name">{{ catalog.name }}</h1>
            {% if isPicture is defined and isPicture %}
                <a href="{{ path('CATALOG', {'id': catalog.id}) }}" class="btn btn-primary">
                    Remonter d'un dossier
                </a>
            {% elseif catalog.parent is null %}
                <a href="{{ path('HOMEPAGE') }}" class="btn btn-primary">
                    Remonter d'un dossier
                </a>
            {% elseif catalog.parent.name != constant('App\\Entity\\Catalog\\Catalog::ROOT') %}
                <a href="{{ path('CATALOG', {'id': catalog.parent.id}) }}" class="btn btn-primary">
                    Remonter d'un dossier
                </a>
            {% else %}
                <a href="{{ path('HOMEPAGE') }}" class="btn btn-primary">
                    Remonter d'un dossier
                </a>
            {% endif %}
        </div>
    </div>
</div>