<div class="catalog-banner">
    {% if catalog.illustration %}
        <img src="{{ catalog.illustration.file.imageName|imagine_filter('catalog_banner') }}" alt="{{ catalog.name }}" class="img-fluid">
    {% endif %}
    <div class="content">
        <div class="container">
            <h1 class="catalog-name">{{ catalog.name }}</h1>
            {% if isPicture is defined and isPicture %}
                {% set url = path('CATALOG', {'id': catalog.id}) %}
            {% elseif catalog.parent is null %}
                {% set url = path('HOMEPAGE') %}
            {% elseif catalog.parent.name != constant('App\\Entity\\Catalog\\Catalog::ROOT') %}
                {% set url = path('CATALOG', {'id': catalog.parent.id}) %}
            {% else %}
                {% set url = path('HOMEPAGE') %}
            {% endif %}

            <a href="{{ url }}" class="btn btn-wikiarchives-primary" title="Move up from a folder">
                {{ 'actions.move_up_folder'|trans([],'front') }}
            </a>
        </div>
    </div>
</div>