<div class="card shadow-sm"">
    {% if catalog.pictures|length %}
        <img src="{{ vich_uploader_asset(catalog.pictures|first)|imagine_filter('catalog_card_listing') }}" class="card-img-top" alt="{{ catalog.name }}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ catalog.name }} [{{ catalog.pictures|length }}]</h5>
        {% if catalog.parent %}
            <a href="{{ path('CATALOG', {'id': catalog.parent.id}) }}" class="btn btn-primary">Parent</a>
            {% else %}
                <a href="{{ path('HOMEPAGE') }}" class="btn btn-primary">Parent</a>
        {% endif %}
    </div>
</div>