<div class="catalog-card card shadow-sm h-100">
    <img src="{{ catalog.imageName |imagine_filter('catalog_card_listing') }}" class="card-img-top"
         alt="{{ catalog.name }}">

    <div class="card-body">
        <div class="d-flex flex-column justify-content-between h-100">
            <p class="card-title">{{ catalog.name }} [{{ catalog.pictures|length }}]</p>
            <a href="{{ path('CATALOG', {'id': catalog.id}) }}" class="btn btn-sm w-100 btn-wikiarchives-dark">Ouvrir</a>
        </div>
    </div>
</div>