<div class="catalog-banner">
    {% if catalog.imageName %}
        <img src="{{ catalog.imageName|imagine_filter('catalog_banner') }}" alt="" class="img-fluid">
    {% endif %}
    <div class="content">
        <div class="container">
            <h1 class="catalog-name">{{ catalog.name }}</h1>
            {% if isPicture is defined and isPicture %}
{#                <a href="{{ path('CATALOG', {'id': catalog.id}) }}" class="btn btn-primary">#}
{#                    Move up from a folder#}
{#                </a>#}
                {% set url = path('CATALOG', {'id': catalog.id}) %}
            {% elseif catalog.parent is null %}
{#                <a href="{{ path('HOMEPAGE') }}" class="btn btn-primary">#}
{#                    Move up from a folder#}
{#                </a>#}
                {% set url = path('HOMEPAGE') %}
            {% elseif catalog.parent.name != constant('App\\Entity\\Catalog\\Catalog::ROOT') %}
{#                <a href="{{ path('CATALOG', {'id': catalog.parent.id}) }}" class="btn btn-primary">#}
{#                    Move up from a folder#}
{#                </a>#}
                {% set url = path('CATALOG', {'id': catalog.parent.id}) %}
            {% else %}
{#                <a href="{{ path('HOMEPAGE') }}" class="btn btn-primary">#}
{#                    Move up from a folder#}
{#                </a>#}
                {% set url = path('HOMEPAGE') %}
            {% endif %}

            <a href="{{ url }}" class="btn btn-wikiarchives-primary" title="Move up from a folder">
                Move up from a folder
            </a>
        </div>
    </div>
</div>