<nav class="mb-5 py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {% include 'includes/catalog/_breadcrumb.html.twig' with {object:catalog} %}
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="me-3">
                        <a href="{{ path('CATALOG_DOWNLOAD', {'id': catalog.id}) }}" class="btn btn-wikiarchives-accent"
                           title="{{ 'actions.download'|trans([],'front') }}">
                            {{ 'actions.download'|trans([],'front') }}
                        </a>
                    </div>
                    <div class="me-3">
                        {{ pagination.getTotalItemCount }} {{ 'picture.label'|trans({'number':pagination.getTotalItemCount},'front') }}
                    </div>
                    <form action="{{ path('SEARCH') }}" class="d-flex">
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="{{ 'actions.search_placeholder'|trans([],'front') }}" aria-label="Search" name="q"
                                   value="{{ query??'' }}">
                            <input type="hidden" name="catalogId" value="{{ catalog.id }}"/>
                            <button class="btn btn-wikiarchives-accent" type="submit">{{ 'actions.search_submit'|trans([],'front') }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>