<a class="btn btn-wikiarchives-primary" data-bs-toggle="collapse" href="#exif-info" role="button" aria-expanded="false"
   aria-controls="collapseExample">
    {{ 'actions.see_exif'|trans([],'front') }}
</a>
<div class="collapse" id="exif-info">
    <h2 class="text-white">Exif</h2>
    <table class="text-white table table-sm table-bordered">
        <tbody>
        {% for label,value in picture.exif %}
            <tr>
                <th>{{ label }}</th>
                <td>
                    {% if value|getExifValueType == 'date' %}
                        {{ value|date('Y-m-d H:i:s') }}
                    {% elseif value|getExifValueType == 'array' %}
                        {{ value|join(', ') }}
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

