<nav class="picture-status-bar mb-5 py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                {% include 'includes/catalog/_breadcrumb.html.twig' with {object:picture} %}
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="me-3">
                        <div class="dropdown">
                            <button class="btn btn-wikiarchives-accent dropdown-toggle" type="button"
                                    id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Download
                            </button>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <a target="_blank" class="dropdown-item"
                                       href="{{ path('PICTURE_DOWNLOAD',{'catalogId':picture.catalog.id,'id':picture.id,'size':'square'}) }}">
                                        Square
                                    </a>
                                    <a target="_blank" class="dropdown-item"
                                       href="{{ path('PICTURE_DOWNLOAD',{'catalogId':picture.catalog.id,'id':picture.id,'size':'sm'}) }}">
                                        Small size
                                    </a>
                                    <a target="_blank" class="dropdown-item"
                                       href="{{ path('PICTURE_DOWNLOAD',{'catalogId':picture.catalog.id,'id':picture.id,'size':'md'}) }}">
                                        Middle size
                                    </a>
                                    <a target="_blank" class="dropdown-item"
                                       href="{{ path('PICTURE_DOWNLOAD',{'catalogId':picture.catalog.id,'id':picture.id,'size':'lg'}) }}">
                                        Large size
                                    </a>
                                    <a target="_blank" class="dropdown-item"
                                       href="{{ path('PICTURE_DOWNLOAD',{'catalogId':picture.catalog.id,'id':picture.id,'size':'vlg'}) }}">
                                        Very large size
                                    </a>
                                    <a target="_blank" class="dropdown-item"
                                       href="{{ path('PICTURE_DOWNLOAD',{'catalogId':picture.catalog.id,'id':picture.id,'size':'original'}) }}">
                                        Original
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% if is_granted('PICTURE_VERSION_CREATE',app.user) %}
                        <div>
                            <a class="btn btn-wikiarchives-primary"
                               href="{{ path('PICTURE_CHANGE', {'catalogId': picture.catalog.id, 'id': picture.id}) }}">
                                Proposer une modification
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>