<h2 class="text-white">Informations</h2>
<table class="text-white table table-sm table-bordered">
    <tbody>
    {% set license = picture|getLicense %}
    {% if license %}
        <tr class="align-middle">
            <th>{{ 'picture.properties.license'|trans([],'admin') }}</th>
            <td>
                <a href="{{ license.url }}" title="{{ license.name }}" rel="nofollow" target="_blank">
                    {% if license.image %}
                        <img src="{{ asset('images/license/'~license.image) }}" alt="{{ license.name }}">
                    {% else %}
                        {{ license.name }}
                    {% endif %}
                </a>
            </td>
        </tr>
    {% endif %}
    <tr>
        <th>{{ 'picture.properties.isEditedByWikiarchives'|trans([],'admin') }}</th>
        <td>
            {% if picture.isEditedByWikiarchives %}
                Oui
            {% else %}
                Non
            {% endif %}
        </td>
    </tr>
    {% if picture.exif.title %}
        <tr>
            <th>{{ 'picture.properties.exif.title'|trans([],'admin') }}</th>
            <td>{{ picture.exif.title }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.author %}
        <tr>
            <th>{{ 'picture.properties.exif.author'|trans([],'admin') }}</th>
            <td>{{ picture.exif.author }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.camera %}
        <tr>
            <th>{{ 'picture.properties.exif.camera'|trans([],'admin') }}</th>
            <td>{{ picture.exif.camera }}</td>
        </tr>
    {% endif %}
   {# {% if picture.exif.caption %}
        <tr>
            <th>Caption</th>
            <td>{{ picture.exif.caption|raw }}</td>
        </tr>
    {% endif %}#}
 {#   {% if picture.exif.copyright %}
        <tr>
            <th>Copyright</th>
            <td>{{ picture.exif.copyright }}</td>
        </tr>
    {% endif %}#}
    {% if picture.exif.creationdate %}
        <tr>
            <th>{{ 'picture.properties.exif.creationdate'|trans([],'admin') }}</th>
            <td>{{ picture.exif.creationdate|date('Y-m-d H:i:s') }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.credit %}
        <tr>
            <th>{{ 'picture.properties.exif.credit'|trans([],'admin') }}</th>
            <td>{{ picture.exif.credit }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.aperture %}
        <tr>
            <th>{{ 'picture.properties.exif.aperture'|trans([],'admin') }}</th>
            <td>{{ picture.exif.aperture }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.exposure %}
        <tr>
            <th>{{ 'picture.properties.exif.exposure'|trans([],'admin') }}</th>
            <td>{{ picture.exif.exposure }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.exposure %}
        <tr>
            <th>{{ 'picture.properties.exif.exposureMilliseconds'|trans([],'admin') }}</th>
            <td>{{ picture.exif.exposureMilliseconds }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.focalLength %}
        <tr>
            <th>{{ 'picture.properties.exif.focalLength'|trans([],'admin') }}</th>
            <td>{{ picture.exif.focalLength }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.focalDistance %}
        <tr>
            <th>{{ 'picture.properties.exif.focalDistance'|trans([],'admin') }}</th>
            <td>{{ picture.exif.focalDistance }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.iso %}
        <tr>
            <th>{{ 'picture.properties.exif.iso'|trans([],'admin') }}</th>
            <td>{{ picture.exif.iso }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.colorSpace %}
        <tr>
            <th>{{ 'picture.properties.exif.colorSpace'|trans([],'admin') }}</th>
            <td>{{ picture.exif.colorSpace }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.fileSize %}
        <tr>
            <th>{{ 'picture.properties.exif.fileSize'|trans([],'admin') }}</th>
            <td>{{ picture.exif.fileSize|humanFilesize }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.height %}
        <tr>
            <th>{{ 'picture.properties.exif.height'|trans([],'admin') }}</th>
            <td>{{ picture.exif.height }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.width %}
        <tr>
            <th>{{ 'picture.properties.exif.width'|trans([],'admin') }}</th>
            <td>{{ picture.exif.width }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.horizontalResolution %}
        <tr>
            <th>{{ 'picture.properties.exif.horizontalResolution'|trans([],'admin') }}</th>
            <td>{{ picture.exif.horizontalResolution }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.verticalResolution %}
        <tr>
            <th>{{ 'picture.properties.exif.verticalResolution'|trans([],'admin') }}</th>
            <td>{{ picture.exif.verticalResolution }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.headline %}
        <tr>
            <th>{{ 'picture.properties.exif.headline'|trans([],'admin') }}</th>
            <td>{{ picture.exif.headline }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.jobTitle %}
        <tr>
            <th>{{ 'picture.properties.exif.jobTitle'|trans([],'admin') }}</th>
            <td>{{ picture.exif.jobTitle }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.keywords %}
        <tr>
            <th>{{ 'picture.properties.exif.keywords'|trans([],'admin') }}</th>
            <td>{{ picture.exif.keywords|join(', ') }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.mimeType %}
        <tr>
            <th>{{ 'picture.properties.exif.mimeType'|trans([],'admin') }}</th>
            <td>{{ picture.exif.mimeType }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.orientation %}
        <tr>
            <th>{{ 'picture.properties.exif.orientation'|trans([],'admin') }}</th>
            <td>{{ picture.exif.orientation }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.software %}
        <tr>
            <th>{{ 'picture.properties.exif.software'|trans([],'admin') }}</th>
            <td>{{ picture.exif.software }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.source %}
        <tr>
            <th>{{ 'picture.properties.exif.source'|trans([],'admin') }}</th>
            <td>{{ picture.exif.source }}</td>
        </tr>
    {% endif %}
    {% if picture.exif.gps %}
        <tr>
            <th>{{ 'picture.properties.exif.gps'|trans([],'admin') }}</th>
            <td>{{ picture.exif.gps }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>


{% if picture.exif.gps %}
    <div id="map"
         class="rounded small"
         data-picture="{{ picture.exif.gpsArray|serialize }}"
    >
    </div>
{% endif %}