{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'contact.contact_of'|trans([],'admin') }} {{ contact.email}} - {{ parent() }}{% endblock %}
{% block bodytitle %}{{ 'contact.contact_of'|trans([],'admin') }} {{ contact.email }}{% endblock %}


{% block body %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>{{ 'contact.properties.firstname'|trans([],'admin') }}</th>
                <td>{{ contact.firstname }}</td>
            </tr>
            <tr>
                <th>{{ 'contact.properties.lastname'|trans([],'admin') }}</th>
                <td>{{ contact.lastname }}</td>
            </tr>
            <tr>
                <th>{{ 'contact.properties.email'|trans([],'admin') }}</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>{{ 'contact.properties.message'|trans([],'admin') }}</th>
                <td>{{ contact.message }}</td>
            </tr>
            <tr>
                <th>{{ 'contact.properties.created_at'|trans([],'admin') }}</th>
                <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('CONTACT_INDEX') }}">{{ 'actions.back_listing'|trans([],'admin') }}</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
