{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">

        {{ form_row(form.validatedVersion.name) }}
        {{ form_row(form.validatedVersion.description) }}
        {{ form_row(form.file) }}
        {{ form_row(form.catalog) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.validatedVersion.exif) }}
    </div>
</div>


{{ form_widget(form) }}
<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
