{% extends 'base-admin.html.twig' %}

{% block title %}Liste des photos - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des photos</h1>
        <a href="{{ path('ADMIN_CATALOG_PICTURE_NEW') }}" class="btn btn-primary mb-3">
            Créer photo
        </a>
        <table class="datatable table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Catalog</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for picture in pictures %}
                <tr>
                    <td>{{ picture.name }}</td>
                    <td>
                        <a href="{{ path('ADMIN_CATALOG_CATALOG_SHOW', {'id': picture.catalog.id}) }}">
                            {{ picture.catalog.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('ADMIN_CATALOG_PICTURE_SHOW', {'id': picture.id}) }}" class="btn btn-sm btn-info">Voir</a>
                        <a href="{{ path('ADMIN_CATALOG_PICTURE_EDIT', {'id': picture.id}) }}" class="btn btn-sm btn-info">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin-catalog-datatable') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('admin-catalog-datatable-js') }}
{% endblock %}