{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'picture.form.add_multiple.label'|trans([],'admin') }} - {{ parent() }}{% endblock %}
{% block bodytitle %}{{ 'picture.form.add_multiple.label'|trans([],'admin') }}{% endblock %}

{% block body %}
{#    {% if catalog is null and 'root' != catalog.name %}#}
    <p>
        {{ 'picture.form.add_multiple.instruction'|trans([],'admin') }}
    </p>
        <form method="POST" action="#">
            <div class="mb-3">
                <select name="catalog" class="select2">
                    {% for catalog in catalogs %}
                        <option value="{{ catalog.id }}">{{ catalog.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <input type="file" class="filepond" name="filepond" data-allow-remove="true">
        </form>
{#    {% endif %}#}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('filepond') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('filepond-dynamique-catalogjs') }}
{% endblock %}