{% extends 'base-admin.html.twig' %}

{% block title %}Photo liste des version en attentes - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Photo liste des version en attentes</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ picture.name }}</td>
            </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr>
                <th>Proposé le</th>
                <th>Proposé par</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for version in picture.tmpVersions %}
                <tr>
                    <td>{{ version.createdAt|date('d/m/Y H:i:s') }}</td>
                    <td>{{ version.createdBy }}</td>
                    <td>
                        <a href="{{ path('ADMIN_MODERATION_PICTURE_TMP_VERSIONS_SHOW', {'id': picture.id, 'versionId': version.id}) }}"
                           class="btn btn-sm btn-info">
                            Voir
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
