{% extends 'base-admin.html.twig' %}

{% block title %}Photo validation de la version {{ version.id }} - {{ parent() }}{% endblock %}

{% macro picture_version_show(version) %}
    <div class="version">
{# <h3>Base</h3> #}
        <table class="table table-sm table-bordered">
            <tr>
                <th>Nom</th>
                <td>{{ version.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ version.description|raw }}</td>
            </tr>
        </table>
    </div>
{% endmacro %}
{% macro picture_version_show_exif(version) %}
    <div class="version">
        <h3>Exif</h3>
        <table class="table table-sm table-bordered">
            <tr>
                <th>title</th>
                <td>{{ version.exif.title }}</td>
            </tr>
            <tr>
                <th>author</th>
                <td>{{ version.exif.author }}</td>
            </tr>
            <tr>
                <th>camera</th>
                <td>{{ version.exif.camera }}</td>
            </tr>
            <tr>
                <th>caption</th>
                <td>{{ version.exif.caption }}</td>
            </tr>
            <tr>
                <th>copyright</th>
                <td>{{ version.exif.copyright }}</td>
            </tr>
            <tr>
                <th>creationdate</th>
                <td>{{ version.exif.creationdate|date('Y-d-m H:i:s') }}</td>
            </tr>
            <tr>
                <th>credit</th>
                <td>{{ version.exif.credit }}</td>
            </tr>
            <tr>
                <th>aperture</th>
                <td>{{ version.exif.aperture }}</td>
            </tr>
            <tr>
                <th>exposure</th>
                <td>{{ version.exif.exposure }}</td>
            </tr>
            <tr>
                <th>exposureMilliseconds</th>
                <td>{{ version.exif.exposureMilliseconds }}</td>
            </tr>
            <tr>
                <th>focalLength</th>
                <td>{{ version.exif.focalLength }}</td>
            </tr>
            <tr>
                <th>focalDistance</th>
                <td>{{ version.exif.focalDistance }}</td>
            </tr>
            <tr>
                <th>iso</th>
                <td>{{ version.exif.iso }}</td>
            </tr>
            <tr>
                <th>colorSpace</th>
                <td>{{ version.exif.colorSpace }}</td>
            </tr>
            <tr>
                <th>fileSize</th>
                <td>{{ version.exif.fileSize }}</td>
            </tr>
            <tr>
                <th>height</th>
                <td>{{ version.exif.height }}</td>
            </tr>
            <tr>
                <th>width</th>
                <td>{{ version.exif.width }}</td>
            </tr>
            <tr>
                <th>horizontalResolution</th>
                <td>{{ version.exif.horizontalResolution }}</td>
            </tr>
            <tr>
                <th>verticalResolution</th>
                <td>{{ version.exif.verticalResolution }}</td>
            </tr>
            <tr>
                <th>headline</th>
                <td>{{ version.exif.headline }}</td>
            </tr>
            <tr>
                <th>jobTitle</th>
                <td>{{ version.exif.jobTitle }}</td>
            </tr>
            <tr>
                <th>keywords</th>
                <td>{{ version.exif.keywords|join(',') }}</td>
            </tr>
            <tr>
                <th>mimeType</th>
                <td>{{ version.exif.mimeType }}</td>
            </tr>
            <tr>
                <th>orientation</th>
                <td>{{ version.exif.orientation }}</td>
            </tr>
            <tr>
                <th>software</th>
                <td>{{ version.exif.software }}</td>
            </tr>
            <tr>
                <th>source</th>
                <td>{{ version.exif.source }}</td>
            </tr>
            <tr>
                <th>gps</th>
                <td>{{ version.exif.gps|join(',') }}</td>
            </tr>

        </table>
    </div>
{% endmacro %}

{% block body %}
    <div class="container">
        <h1>Photo validation de la version {{ version.id }}</h1>


        {{ form_start(validationForm) }}

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="btn-group w-100">
                    {{ form_widget(validationForm.refused) }}
                    {{ form_widget(validationForm.refusedAndBlockUser) }}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md">
                {{ form_widget(validationForm.accepted) }}
            </div>
            <div class="col-md">
                {{ form_widget(validationForm.accepted2) }}
            </div>
        </div>
        {{ form_end(validationForm) }}

        <div class="row">
            {% if version.basedVersion.id != picture.validatedVersion.id %}
                <div class="col-md">
                    <h2>Final</h2>
                    <p>
                        Basée sur une version de {{ version.basedVersion.createdAt|date('d/m/Y H:i') }}
                    </p>
                    <div class="git-diff">
                        <div class="current d-none">
                            {{ _self.picture_version_show(version.basedVersion) }}
                        </div>
                        <div class="final">
                            {{ _self.picture_version_show(finalVersion) }}
                        </div>
                    </div>
                    <div class="git-diff">
                        <div class="current d-none">
                            {{ _self.picture_version_show_exif(version.basedVersion) }}
                        </div>
                        <div class="final">
                            {{ _self.picture_version_show_exif(finalVersion) }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col-md">
                <h2>Final 2</h2>
                <p>
                    Basée sur une version de {{ picture.validatedVersion.createdAt|date('d/m/Y H:i') }}
                </p>
                <div class="git-diff">
                    <div class="current d-none">
                        {{ _self.picture_version_show(picture.validatedVersion) }}
                    </div>
                    <div class="final">
                        {{ _self.picture_version_show(finalVersion2) }}
                    </div>
                </div>
                <div class="git-diff">
                    <div class="current d-none">
                        {{ _self.picture_version_show_exif(picture.validatedVersion) }}
                    </div>
                    <div class="final">
                        {{ _self.picture_version_show_exif(finalVersion2) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html-ui.min.js"></script>
{% endblock %}