{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">

        <div class="row align-items-end">
            <div class="col-md-6">{{ form_row(form.email) }}</div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.isVerified) }}</div>
                    <div class="col-md-6">{{ form_row(form.isBlocked) }}</div>
                </div>
            </div>
            <div class="col-md-6">{{ form_row(form.info.lastname) }}</div>
            <div class="col-md-6">{{ form_row(form.info.firstname) }}</div>
            <div class="col-md-6">{{ form_row(form.info.country) }}</div>
            <div class="col-md-6">{{ form_row(form.info.city) }}</div>
            <div class="col-md-6">{{ form_row(form.info.address) }}</div>
        </div>
    </div>
    <div class="col-md-6">
        {{ form_row(form.roles) }}
        {{ form_row(form.rights.hasVersionCreator) }}
    </div>
</div>

{{ form_widget(form) }}
<button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}