{% extends 'base-admin.html.twig' %}

{% block title %}Utilisateur {{ user.userIdentifier }} - {{ parent() }}{% endblock %}
{% block bodytitle %}Utilisateur {{ user.userIdentifier }}{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>
                            {% for role in user.roles %}
                                {% if 'ROLE_MODERATOR' == role %}
                                    <span class="badge bg-info">{{ role }}</span>
                                {% endif %}
                                {% if 'ROLE_CONTRIBUTOR' == role %}
                                    <span class="badge bg-success">{{ role }}</span>
                                {% endif %}
                                {% if 'ROLE_ADMIN' == role %}
                                    <span class="badge bg-warning">{{ role }}</span>
                                {% endif %}
                                {% if 'ROLE_SUPER_ADMIN' == role %}
                                    <span class="badge bg-danger">{{ role }}</span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>IsVerified</th>
                        <td>{{ user.isVerified|yesNoHtml }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Info</h2>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ user.info.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ user.info.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Pays</th>
                        <td>{{ user.info.country }}</td>
                    </tr>
                    <tr>
                        <th>Ville</th>
                        <td>{{ user.info.city }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ user.info.address }}</td>
                    </tr>
                    </tbody>
                </table>
                <h2>Droits</h2>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Version Creator</th>
                        <td>{{ user.rights.hasVersionCreator|yesNoHtml }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <a href="{{ path('ADMIN_USER_INDEX') }}" class="btn btn-primary mb-3">Revenir au listing</a>
        <br>
        <a href="{{ path('ADMIN_USER_EDIT', {'id': user.id}) }}" class="btn btn-success mb-3">
            Modifier
        </a>

        {{ include('user/_delete_form.html.twig') }}

{% endblock %}
