{% import 'macro/admin/_catalog-actions.html.twig' as catalogMacro %}

<h2>Contenu de {{ catalog.name }}</h2>
{{ catalogMacro.catalogActionsButtons(catalog) }}
{% if catalog.illustration %}
    <br>
    <img src="{{ vich_uploader_asset(catalog.illustration.file) }}" alt="{{ catalog.name }}"
         class="img-fluid rounded my-3" width="100px">
{% else %}
    <p>
        <span class="badge bg-danger">Pas de couverture</span>
    </p>
{% endif %}
{% if catalog.placeRecursive %}
    <p>
        <i class="fas fa-map-marked-alt"></i>
        {{ catalog.placeRecursive.name }}
    </p>
{% endif %}

<table class="datatable table table-sm table-bordered">
    <thead>
    <tr>
        <th></th>
        <th>Nom</th>
        <th>Taille</th>
        <th>Résolution</th>
        <th>Visible</th>
        {% if is_granted('ROLE_MODERATOR') %}
        <th>Validations en attentes</th>
        {% endif %}
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for picture in catalog.pictures %}
        <tr>
            <td>
                <a href="{{ vich_uploader_asset(picture.file) }}"
                   data-fancybox="gallery">
                    <img src="{{ picture.file.imageName|imagine_filter('picture_admin_listing') }}"
                         alt="{{ picture.file.imageOriginalName }}"
                         width="100"
                         class="img-fluid rounded"
                         loading="lazy">
                </a>
            </td>
            <td>{{ picture.name }}</td>
            <td>{{ picture.file.imageSize|humanFilesize }}</td>
            <td>{{ picture.file.imageDimensions|join('x') }}</td>
            <td>
                {% if picture.enabled %}
                    <span class="badge bg-success">Visible</span>
                {% else %}
                    <span class="badge bg-danger">Non visible</span>
                {% endif %}
            </td>
            {% if is_granted('ROLE_MODERATOR') %}
                <td>
                    {{ picture.tmpVersions|length }}
                </td>
            {% endif %}
            <td>
                <a href="{{ path('ADMIN_CATALOG_PICTURE_SHOW',{'id':picture.id}) }}" class="btn btn-sm btn-info">
                    Voir
                </a>
                <a href="{{ path('ADMIN_CATALOG_PICTURE_EDIT',{'id':picture.id}) }}" class="btn btn-sm btn-info">
                    Modifier
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
