{% macro nodeLine(nodes,catalog) %}
    <ul>
        {% for node in nodes %}
            <li class="catalog{{ (catalog.id == node.id) ? ' jstree-open' : '' }}">
                <a class="draggable {{ (catalog.id == node.id)  ? ' jstree-clicked' : '' }}" data-id="{{ node.id }}"
                   href="{{ path('ADMIN_CATALOG_CATALOG_TREE',{id:node.id}) }}" data-type="catalog"
                   data-is-root="{{ node.parent ?'false':'true' }}">
                    {{ node.name }}
                </a>
                {% if node.children|length > 0 %}
                    {{ _self.nodeLine(node.children.toArray(),catalog) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

<div id="jstree-catalog" data-current-catalog="{{ catalog.id }}">
    <div class="tree">{{ _self.nodeLine(trees,catalog) }}</div>
</div>
